body{
  background-color: var(--page-bg-color);
}

img.user-profile-picture{
  border-radius: 50%;
}

form.search-form{
  border: 1px solid #646464;
  background-color: transparent;
  border-radius: 5vh;
  width: auto;
  overflow: hidden;
}

form.search-form *{
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

form.search-form label{
  border: 1px solid #646464;
  padding: 0.2rem;
  min-width: 2rem;
  min-height: 2rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 5vh;
  margin: auto 0.7rem;
}

form.search-form input{
  padding: 0.6rem 1rem;
  width: 100%;
  transition: all 0.3s ease;
}

form.search-form input:focus + label{
  visibility: hidden;
}

.material {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.material-black {
  background-color: #444;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

button.material-black {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: orange;
  background-color: #444;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  z-index: +40;
  width: auto;
  /* height: 100px; */
  border: none;
  /* min-width: 100px; */
  overflow: hidden;
}

button.material-black:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)) !important;
  /* box-shadow: 2px 4px 6px rgba(30, 30, 30, 0.2); */
}

body.dark-mode button.material-black {
  color: var(--tab-notice-bgcolor);
  background-color: rgba(85, 85, 95, 0.3);
}

body.dark-mode button.material-black:hover {
  box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.5);
}

/* For all mobile users only */
@media only screen and (max-width:799px){
  .hide-on-mobile{
    display: none !important;
  }
}

/* For desktop users */
@media only screen and (min-width:800px){
  .show-on-mobile{
    display: none !important;
  }

  form.search-form{
    margin: 0 2rem;
    min-width: 27rem;
  }

  form.search-form input:focus{
    background-color: #ffffff;
    min-width: 30rem;
    width: 30vw;
    color: #333;
  }
}