@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");

*{
  font-family: Poppins, Roboto, 'Open Sans', -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  box-sizing: border-box; 
}

html{
  font-size: 62.5%;
}

body{
  position: relative;
  --pointer-color: red;
  --page-bg-color: #fff;
  --page-link-color:#0059fd;
  --header-bg-color: #24292e;
  --header-text-color: #222;
  --icon-color: #555;
  --text-color: #222;
  --light-text-color: #222;
  --lazy-light-color: #dfdfdf;
  --lazy-dark-color: #d9d9d9;
  --border-line-color: #dfdfdf;
  --separation-line-color: #dfdfdf;
  --tab-notice-bgcolor: #ccc;
  --tab-border-color: #ff5e00;
  --tab-notice-textcolor: #222;
  --footer-bg-color: #eee;
  --moon-light-color: rgba(255, 209, 123, 0.87);
  --moon-dark-color: rgb(255, 91, 132)
  padding: 24px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s ease;
}

body.dark-mode{
  --page-bg-color:#08090C;
  --page-link-color: rgb(255, 91, 132);
  --header-bg-color: #24292e;
  --header-text-color: #dfdfdf;
  --icon-color: #7a7a7a;
  --text-color: #dfdfdf;
  --light-text-color: #bdbdbd;
  --lazy-light-color: rgba(223, 223, 223, 0.8);
  --lazy-dark-color: #d9d9d9;
  --border-line-color: #4d4d4d;
  --separation-line-color: #383838;
  --tab-notice-bgcolor: var(--page-link-color);
  --tab-border-color: var(--page-link-color);
  --tab-notice-textcolor: black;
  --footer-bg-color: #eee;
  --moon-light-color: rgba(255, 149, 220, 0.87);
  --moon-dark-color: rgba(75, 65, 223, 0.659);
}

body::after{
  content: '';
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 0;
  width: 30%;
  height: 100vh;
  opacity: 0;
  clip-path: circle(13% at 0% 13%);
  background-image: linear-gradient(125deg, var(--moon-light-color), var(--moon-dark-color) 50%);
  /* animation: swelling 15s ease-in-out 0s infinite forwards normal; */
  animation: rising 10s ease-out 0s 1 backwards normal;
  /* rising */
}

body.dark-mode::after{
  background-image: linear-gradient(145deg, var(--moon-dark-color), var(--moon-light-color) 19%);
}

noscript{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem;
  background-color: #fabc49;
}

a:link{
  text-decoration: none;
}

header{
  width: 100%;
}

button:hover, a:link:hover{
  cursor: pointer;
}

/* main button {
  position: relative;
}
main button:hover:after{
  content: '';
  position: absolute;
  z-index: +1;
  top: 0px;
  left: 0px;
  width: 8px;
  height: 5px;
  border-radius: 1px;
  display: block;
  background-color: var(--moon-dark-color);
  box-shadow: 3px 3px 8px var(--moon-dark-color);
  animation: swelling 15s ease-in-out 0s infinite both normal;
} */

input[type="submit"], select{
  -webkit-appearance: none;
  appearance: none;
}

.link-btn{
  text-decoration: none;
  padding: 1rem;
}

.strip-btn{
  border: none;
  background-color: transparent;
  color: black;
  padding: 1rem;
}

.none{
  display: none !important;
}

.grid{
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
}

.rows{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rows-reverse{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display:flex;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}

.lg-5{
  width: 5%;
}

.lg-10{
  width: 10%;
}

.lg-15{
  width: 15%;
}

.lg-20{
  width: 20%;
}

.lg-25{
  width: 25%;
}

.lg-30{
  width: 30%;
}

.lg-35{
  width: 35%;
}

.lg-40{
  width: 40%;
}

.lg-50{
  width: 50%;
}

.lg-60{
  width: 60%;
}

.lg-65{
  width: 60%;
}

.lg-70{
  width: 60%;
}

.lg-75{
  width: 60%;
}

.lg-80{
  width: 80%;
}

.lg-90{
  width: 90%;
}

.lg-100{
  width: 100%;
}

.lazy-loading{
  background-color: transparent;
  animation: lazy-loading 1.2s ease-in-out 0s infinite normal forwards;
}

.strip-link{
  text-decoration: none;
}

@media only screen and (max-width:800px){
  body::after, body.dark-mode::after{
    background-image: none
  }
}

@-webkit-keyframes lazy-loading{
  0%, 60%, 70%, 80%, 90%, 100%{
      background-image: -webkit-linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
      background-image: linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
  }

  15%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
  }

  30%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
  }

  55%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
  }
}

@-moz-keyframes lazy-loading{
  0%, 60%, 70%, 80%, 90%, 100%{
      background-image: -webkit-linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
      background-image: linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
  }

  15%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
  }

  30%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
  }

  55%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
  }
}

@keyframes lazy-loading{
  0%, 60%, 70%, 80%, 90%, 100%{
      background-image: -webkit-linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
      background-image: linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
  }

  15%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
  }

  30%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
  }

  55%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
  }
}


@-webkit-keyframes swelling{
  0%, 100%{
    clip-path: circle(12% at 0% 11%);
    opacity: 0.9;
  }

  60%{
    clip-path: circle(18% at 0% 15%);
    opacity: 0.4;
  }
}

@-moz-keyframes swelling{
  0%, 100%{
    clip-path: circle(12% at 0% 11%);
    opacity: 0.9;
  }

  60%{
    clip-path: circle(18% at 0% 15%);
    opacity: 0.4;
  }
}

@keyframes swelling{
  0%, 100%{
    clip-path: circle(12% at 0% 11%);
    opacity: 0.7;
    top: 100px;
    left: 0px;
  }

  60%{
    clip-path: circle(18% at 0% 15%);
    opacity: 0.4;
    top: 500px;
    left: -100px;
  }
}

@keyframes rising{
  0% {
    top: 500px;
    left: -100px;
  }

  100%{
    top: 50px;
    left: 0;
  }
}
