/* Mobile First */
header,
header .rows,
header + nav.mobile-navigation-menu .rows {
  align-items: center;
  color: var(--icon-color);
}

header + nav.mobile-navigation-menu {
  background-color: var(--header-bg-color);
}

header {
  width: 100%;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  justify-content: space-between;
  padding: 1.2rem;
  height: 6.4rem;
  /* padding: 0 24px; */
}

header [class^="icofont-"] {
  font-size: 2rem;
}

header .logo {
  height: 32px;
}

header .left-elements > * {
  margin: auto 0.6rem;
}

/* header .octicon {
  fill: var(--header-text-color);
} */

header nav.navigation-links a {
  color: var(--header-text-color);
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0 1rem;
  /* letter-spacing: 1px; */
}

header .left-elements .user-profile img {
  display: block;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  margin-right: 0.2rem;
}

header form.search-form {
  border: 1px solid #646464;
  background-color: transparent;
  border-radius: 5vh;
  width: auto;
  overflow: hidden;
  font-size: 14px;
}

header form.search-form * {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

header form.search-form label {
  /* border: 1px solid #646464; */
  padding: 0.2rem;
  min-width: 2rem;
  min-height: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  font-size: 1.4rem;
  /* border-radius: 5vh; */
  /* margin: auto 0.7rem; */
}

header form.search-form input {
  padding: 0.6rem 1rem;
  width: 100%;
  transition: all 0.3s ease;
}

header form.search-form input:focus + label {
  visibility: hidden;
}

main {
  /* height: 100vh; */
  color: #333;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* overflow-y: auto; */
}

main > section {
  /* flex: none; */
  margin-bottom: 3.5rem;
  min-height: 600px;
  padding-left: 32px;
  padding-right: 32px;

  padding-top: 32px;
  padding-bottom: 32px;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body:not([class*="dark-mode"]) *.MuiTab-root.Mui-selected {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px 5px 0 0;
}

body:not([class*="dark-mode"]) *.MuiTabs-indicator {
  background-color: var(--primary-color);
}

.hero {
  overflow: hidden;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: bottom right;
}

body.dark-mode .hero,
#about-section {
  background-image: linear-gradient(
    rgba(160, 160, 160, 0.1),
    rgba(160, 160, 160, 0.06)
  );
}

.main-text,
.main-text * {
  font-family: Montserrat, "Open Sans";
}

.main-text {
  font-size: 44px;
  font-weight: 700;
  margin: 0;
  color: var(--text-color);
  background-color: var(--text-color);
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.4)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

.subtitle {
  color: var(--light-text-color);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 28px;
}

.center-headings,
.right-headings,
.left-headings {
  font-family: Poppins, "Open Sans";
  text-transform: capitalize;
  /* letter-spacing: 1px; */
  font-size: 32px;
  position: relative;
  margin-bottom: 40px;
}

.center-headings::before,
.right-headings::before,
.left-headings::before {
  content: "";
  top: 105%;
  position: absolute;
  /* border: 2px solid #7cef91; */
  border: 2px solid var(--tab-border-color);
  border-radius: 5px;
  width: 25px;
  opacity: 0.65;
  height: auto;
  transition: all 0.3s ease;
}

main > section:hover .center-headings::before,
main > section:hover .right-headings::before,
main > section:hover .left-headings::before {
  width: 45px;
  opacity: 0.8;
}

.center-headings {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center-headings::before {
  display: none;
  left: 50%;
  transform: translateX(-50%);
}

.right-headings {
  text-align: right;
  margin-left: auto;
}

.right-headings::before {
  left: 0;
}

.left-headings {
  text-align: left;
  margin-right: auto;
}

.left-headings::before {
  left: 0;
}

.user-profile-section {
  color: var(--text-color);
  width: 38vw;
  min-height: 550px;
  min-width: 200px;
  max-width: 360px;
  max-height: 750px;
  align-items: center;
  /* padding: 1.1rem 1.6rem; */
  padding: 3rem 2.5rem 5rem 2.5rem;
  border-radius: 10px;
  /* backdrop-filter: blur(10px); */
  /* background-color: rgba(12, 12, 12, 0.1); */
  /* background-image: linear-gradient(rgba(12, 12, 12, 0), rgba(12, 12, 12, 0)); */
  /* box-shadow: 6px 16px 25px rgba(27, 27, 27, 0.25); */
  height: auto;
  z-index: +220;
}

.user-profile-section .img-wrapper {
  align-items: center;
  position: relative;
  align-items: flex-start;
  flex-direction: column !important;
}

.user-profile-section img {
  object-fit: cover;
  object-position: top;
  width: 200px;
  height: 200px;
  margin-right: 0;
  margin: 0 auto 1.3rem !important;
}

.user-profile-section input {
  color: grey;
}

.user-profile-section button {
  font-size: 1.4rem;
  border: 1px solid var(--border-line-color);
}

.user-profile-section button.user-status {
  color: orange;
  background-color: #444;
  width: 40px;
  height: 40px;
  border: none;
}

body.dark-mode .user-profile-section {
  border-radius: 10px;
  /* backdrop-filter: blur(10px); */
  /* background-image: linear-gradient(
    rgba(177, 177, 177, 0),
    rgba(177, 177, 177, 0)
  ); */
  /* box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3); */
}

body.dark-mode .user-profile-section button {
  color: white;
  background-color: var(--moon-dark-color);
  border-color: var(--moon-dark-color);
  box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.5);
}

body.dark-mode .user-profile-section button.user-status {
  color: var(--tab-border-color);
  background-color: rgba(85, 85, 95, 0.3);
}

.user-profile-section .user-details {
  color: var(--light-text-color);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}

body.dark-mode .user-profile-section .user-details {
  color: #fff;
}

.background-illuminator {
  /* content: '';
  z-index: -1; */
  position: absolute;
  bottom: 100px;
  right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50% 50%;
  opacity: 0;
  background-color: var(--moon-light-color);
  /* clip-path: circle(13% at 0% 13%); */
  background-image: linear-gradient(
    125deg,
    var(--moon-light-color),
    var(--moon-dark-color) 90%
  );
  /* animation: swelling 15s ease-in-out 0s infinite forwards normal; */
  /* animation: rising 10s ease-out 0s 1 both normal; */
}

body.dark-mode .background-illuminator {
  background-image: linear-gradient(
    125deg,
    var(--moon-light-color),
    var(--moon-dark-color) 90%
  );
}

.education-container h4,
.skills h4 {
  color: var(--light-text-color);
  font-size: 1.8rem;
  font-weight: 400;
}

.education-container em {
  margin-right: auto;
  margin-top: 0.2rem;
}

.education-container em,
.skills em {
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 0.5rem;
  width: auto;
}

.skills {
  scroll-snap-align: top !important;
  justify-content: flex-start;
  align-items: center;
}

.skills .card {
  color: var(--light-text-color);
  margin: 15px 15px 15px;
  flex-grow: 1;
  min-width: 215px;
  max-width: calc(25% - 30px);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 20px #eee;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s ease-out;
}

body.dark-mode .skills .card {
  color: var(--light-text-color);
  background-color: rgba(145, 145, 145, 0.23);
  border: none;
  box-shadow: none;
}

.skills .card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.skills .card .img-wrapper {
  margin-bottom: 0;
}

.skills em {
  font-size: 11px;
  margin-top: 0.5rem;
}

.skills .card .img-wrapper img {
  width: auto;
  height: 30px;
  object-fit: contain;
  max-width: 100%;
}

.skills .date {
  font-size: 12px;
  line-height: 2;
}

body.dark-mode .skills .card .img-wrapper {
  border: none;
}

body .experiences {
  background-image: linear-gradient(
    92deg,
    rgba(240, 240, 240, 0.5),
    rgba(251, 251, 255, 0.3) 80%
  );
}

body.dark-mode .experiences {
  background-image: linear-gradient(
    -45deg,
    rgba(160, 160, 160, 0.1),
    rgba(160, 160, 160, 0.05)
  );
}

body .experiences .card,
body .education-container .card {
  position: relative;
  border-left: 2px solid #ddd;
  transition: all 0.3s ease-in;
}

body .experiences .card::after,
body .education-container .card::after {
  content: "";
  top: -2px;
  left: 0;
  transform: translateX(-50.5%);
  position: absolute;
  background-color: #ccc;
  /* border: 2px solid #7cef91; */
  /* border: 2px solid var(--tab-border-color); */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
}

body.dark-mode .experiences .card,
body.dark-mode .education-container .card {
  border-left: 2px solid #333;
}

body.dark-mode .experiences .card::after,
body.dark-mode .education-container .card::after {
  background-color: #efefef;
}

body.dark-mode .experiences .card:hover,
body.dark-mode .education-container .card:hover {
  border-left-color: #efefef;
}

.experiences .timeline-section,
.education-container .timeline-section {
  width: 200px;
  flex: none;
}

.experiences img,
.education-container img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.experiences p + ol,
.education-container p + ol {
  margin-top: 10px;
}

#contact-container .icon {
  color: #aaaaaa;
}

footer {
  position: sticky;
  top: 100%;
  left: 0;
  height: 100vh;
  min-height: 500px;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/satoru-gojo-jujutsu-1920x1080-10828.png); */
}

/* For all mobile users only */
@media only screen and (max-width: 768px) {
  .hero {
    min-height: 500px !important;
  }

  main > section {
    padding-left: 26px;
    padding-right: 26px;
  }

  .main-text {
    font-size: 32px;
  }

  .user-profile-section .img-wrapper {
    padding-bottom: 10px;
  }

  .user-profile-section button {
    font-size: 1.4rem;
    color: var(--text-color);
    border: 1px solid var(--border-line-color);
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    /* margin-top: 0.8rem; */
    margin-left: auto;
    margin-right: auto;
  }

  body .experiences .card:last-child,
  body .education-container .card:last-child {
    border-bottom: none;
    padding-bottom: 25px;
    margin-bottom: 20px;
  }

  .skills .card {
    margin: 5px 15px 20px;
    max-width: unset;
  }

  .center-headings,
  .right-headings,
  .left-headings {
    font-size: 26px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .center-headings::before,
  .right-headings::before,
  .left-headings::before {
    display: initial;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 640px) {
  .user-profile-section {
    color: var(--text-color);
    width: 100%;
    max-width: unset;
    margin-top: 80px;
    min-height: 480px;
  }

  .user-profile-section img {
    width: 150px;
    height: 150px;
  }

  .background-illuminator {
    bottom: 10px;
  }

  .experiences .timeline-section,
  .education-container .timeline-section {
    width: 100%;
    /* flex: none; */
  }
}
