.pointer-box {
  position: absolute;
  top: 10px;
  left: calc(100% - 330px);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: +999;
  transition: opacity 0.2s ease;
}

.pointer-box.off {
  opacity: 0;
  z-index: -1;
}

.pointer-box-content {
  font-weight: 400;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 20rem;
  font-size: 1.2rem;
  padding: 2rem 2.5rem;
  border-radius: 5px;
  background-color: var(--pointer-color);
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1)
  );
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  color: white;
}

.pointer-box-content::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid var(--pointer-color);
  border-bottom: 10px solid transparent;
  top: 32%;
  right: -19px;
  transform: translateY(-50%);
  /* margin-top: -10px; */
}

/* For all mobile users only */
@media only screen and (max-width: 799px) {
  .pointer-box {
    top: 60px;
    left: calc(100% - 200px);
  }

  .pointer-box-content::after {
    top: 0;
    left: 160px;
  }
}