body{
  /* color: #a600a6; */
  /* background-image: radial-gradient(ellipse, rgb(182, 49, 82), var(--tab-border-color)); */
  --primary-color: #8e65ff;
  --page-bg-color: #fefeff;
  --page-dialog-bg-color: #fefeff;
  --header-bg-color: var(--primary-color);
  --header-text-color: #fff;
  --icon-color: #78ffdf;
  --text-color: #222;
  --light-text-color: #222;
  --lazy-light-color: #dfdfdf;
  --lazy-dark-color: #d9d9d9;
  --border-line-color: rgba(170, 170, 170, 0.5);
  --separation-line-color: #dfdfdf;
  --tab-notice-bgcolor: var(--primary-color);
  --tab-border-color: var(--primary-color);
  --tab-notice-textcolor: #222;
  --footer-bg-color: #eee;
  --moon-light-color: rgba(255, 209, 123, 0.87);
  --moon-dark-color: rgb(255, 91, 132);
  --pointer-color: var(--moon-dark-color);
  position: relative;
  padding: 0;
  background-color: var(--page-bg-color);
  /* background-image: url(../src/assets/images/3638095.png); */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s ease;
}

body.dark-mode{
  --primary-color: #ff5b84;
  --page-bg-color:#08090C;
  --page-dialog-bg-color: rgb(30, 30, 30);
  --page-link-color: var(--primary-color);
  --header-bg-color: transparent;
  --header-text-color: #dfdfdf;
  --icon-color: #78ffdf;
  --text-color: #dfdfdf;
  --light-text-color: #bdbdbd;
  --lazy-light-color: rgba(223, 223, 223, 0.8);
  --lazy-dark-color: #d9d9d9;
  --border-line-color: #333;
  --separation-line-color: #383838;
  --tab-notice-bgcolor: var(--primary-color);
  --tab-border-color: var(--primary-color);
  --tab-notice-textcolor: black;
  --footer-bg-color: #eee;
  --moon-light-color: rgba(255, 149, 220, 0.87);
  --moon-dark-color: rgba(75, 65, 223, 0.659);
  --pointer-color: red;
}

img.user-profile-picture{
  border-radius: 50%;
}

.material {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.material-black {
  background-color: #444;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

button:disabled {
  background-color: #444 !important;
  opacity: 0.5;
}

button.material-black {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: orange;
  background-color: #444;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  z-index: +40;
  width: auto;
  /* height: 100px; */
  border: none;
  /* min-width: 100px; */
  overflow: hidden;
}

button.material-black:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)) !important;
  /* box-shadow: 2px 4px 6px rgba(30, 30, 30, 0.2); */
}

body.dark-mode button.material-black {
  color: var(--tab-notice-bgcolor);
  background-color: rgba(85, 85, 95, 0.3);
}

body.dark-mode button.material-black:hover {
  box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.5);
}

/* For all mobile users only */
@media only screen and (max-width:799px){
  .hide-on-mobile{
    display: none !important;
  }
}

/* For desktop users */
@media only screen and (min-width:800px){
  .show-on-mobile{
    display: none !important;
  }

  form.search-form{
    margin: 0 2rem;
    min-width: 27rem;
  }

  form.search-form input:focus{
    background-color: #ffffff;
    min-width: 30rem;
    width: 30vw;
    color: #333;
  }
}