/* THEME 1 */
body,
body.theme-1 {
  /* color: #a600a6; */
  /* background-image: radial-gradient(ellipse, rgb(182, 49, 82), var(--tab-border-color)); */
  --primary-color: #8e65ff;
  --primary-color-light: #9f7efa;
  --page-bg-color: #fefeff;
  --page-dialog-bg-color: var(--page-bg-color);
  --header-bg-color: var(--primary-color);
  --header-text-color: #fff;
  --footer-bg-color: var(--header-bg-color);
  --footer-text-color: var(--header-text-color);
  --icon-color: #fff;
  --contrast-text-color: #fff;
  --text-color: #222;
  --light-text-color: #222;
  --lazy-light-color: #dfdfdf;
  --lazy-dark-color: #d9d9d9;
  --border-line-color: rgba(170, 170, 170, 0.5);
  --separation-line-color: #dfdfdf;
  --tab-notice-bgcolor: var(--primary-color);
  --tab-notice-textcolor: #222;
  --tab-border-color: var(--primary-color);
  --moon-light-color: rgba(255, 209, 123, 0.87);
  --moon-dark-color: rgb(255, 91, 132);
  --pointer-color: var(--moon-dark-color);
  --card-bg-color: var(--page-bg-color);
  position: relative;
  padding: 0;
  background-color: var(--page-bg-color);
  /* background-image: url(../src/assets/images/3638095.png); */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s ease;
}

body.dark-mode,
body.theme-1.dark-mode {
  --primary-color: #FF5E87;
  --primary-color-light: #f97a9a;
  --page-bg-color: #08090c;
  --page-dialog-bg-color: rgb(30, 30, 30);
  --page-link-color: var(--primary-color);
  --header-bg-color: transparent;
  --footer-bg-color: var(--header-bg-color);
  --header-text-color: #efefef;
  --footer-text-color: var(--header-text-color);
  --icon-color: #61BAAD;
  --text-color: #ffffff;
  --light-text-color: #efefef;
  --contrast-text-color: #ffffff;
  --lazy-light-color: rgba(223, 223, 223, 0.8);
  --lazy-dark-color: #d9d9d9;
  --border-line-color: #333;
  --separation-line-color: #383838;
  --tab-notice-bgcolor: var(--primary-color);
  --tab-border-color: var(--primary-color);
  --tab-notice-textcolor: black;
  --moon-light-color: rgba(255, 149, 220, 0.87);
  --moon-dark-color: rgba(75, 65, 223, 0.659);
  --pointer-color: #9C0038;
  --card-bg-color: rgba(145, 145, 145, 0.23);
}

/* THEME 2 */
body.theme-2 {
  --primary-color: #504538;
  --primary-color-light: #B7A99A;
  --contrast-text-color: #fff;
  --icon-color: #fff;
}

body.theme-2.dark-mode {
  --primary-color: #DEB887;
  --primary-color-light: rgba(222, 184, 135, 0.65);
  --footer-bg-color: var(--primary-color);
  --text-color: #ffffff;
  --light-text-color: #efefef;
  --contrast-text-color: #000;
  --header-text-color: var(--text-color);
  --footer-text-color: var(--contrast-text-color);
  --icon-color: var(--primary-color);
}

/* THEME 3 */
body.theme-3 {
  --page-bg-color: #f5deb3;
  --primary-color: #FF7377;
  --primary-color-light: #42567A;
  --header-bg-color: #42567A;
  --contrast-text-color: #fff;
  --icon-color: #FFF;
  --header-text-color: #FFF;
  --tab-border-color: var(--primary-color-light);
}

body.theme-3.dark-mode {
  --page-bg-color: #271b1b;
  --page-dialog-bg-color: var(--page-bg-color);
  --primary-color: #FF7377;
  --primary-color-light: #f99b9f;
  --header-bg-color: transparent;
  --footer-bg-color: #2F4858;
  --light-text-color: #efefef;
  --contrast-text-color: var(--page-bg-color);
  --header-text-color: #FFF;
  --icon-color: var(--primary-color);
  --pointer-color: #2F4858;
  --card-bg-color: #5C3932;
}

/* THEME 4 */
body.theme-4 {
  --page-bg-color: #F1F1E6;
  --primary-color: #00AAAA;
  --primary-color-light: #00AAAA;
  --header-bg-color: #254847;
  /* --text-color:  var(--primary-color-light); */
  --contrast-text-color: #fff;
  --header-text-color: var(--contrast-text-color);
  --icon-color: var(--header-text-color);
  /* --border-line-color: var(--primary-color-light); */
}

body.theme-4.dark-mode {
  --page-bg-color: #101118;
  --primary-color: #D9A21B;
  --primary-color-light: rgba(222, 184, 135, 0.65);
  --header-bg-color: transparent;
  --footer-bg-color: var(--primary-color);
  --border-line-color: #333;
  --text-color:  var(--primary-color);
  --light-text-color: #eee;
  --header-text-color: #FFF;
  --contrast-text-color: black;
  --icon-color: var(--primary-color);
}

/* THEME 5 */
body.theme-5 {
  --primary-color: #d93052;
  --primary-color-light: #ea9999;
  --page-bg-color: #fefeff;
  --page-dialog-bg-color: var(--page-bg-color);
  --header-bg-color: var(--primary-color);
  --header-text-color: #fff;
  --icon-color: #fff;
  --contrast-text-color: #fff;
  --text-color: #333;
  --light-text-color: #333;
  --footer-text-color: var(--header-text-color);
  --border-line-color: rgba(170, 170, 170, 0.5);
  --footer-bg-color: var(--header-bg-color);
  --pointer-color: var(--moon-dark-color);
}

body.theme-5.dark-mode {
  --primary-color: #8e65ff;
  --primary-color-light: #a280ff;
  --page-bg-color: #08090c;
  --page-dialog-bg-color: #1e1e1e;
  --page-link-color: var(--primary-color);
  --header-bg-color: transparent;
  --header-text-color: #fff;
  --footer-bg-color: var(--header-bg-color);
  --footer-text-color: var(--header-text-color);
  --icon-color: var(--primary-color-light);
  --text-color: #fafafa;
  --contrast-text-color: var(--text-color);
  --light-text-color: #dfdfdf;
  --border-line-color: #333;
  --pointer-color: #9C0038;
}

.material {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.material-black {
  background-color: #444;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

button:disabled {
  background-color: #444 !important;
  color: #fff !important;
  opacity: 0.5;
}

button.material-black {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: orange;
  background-color: #444;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  z-index: +40;
  width: auto;
  /* height: 100px; */
  border: none;
  /* min-width: 100px; */
  overflow: hidden;
}

button.material-black:hover {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2)
  ) !important;
  /* box-shadow: 2px 4px 6px rgba(30, 30, 30, 0.2); */
}

body.dark-mode button.material-black {
  color: var(--tab-notice-bgcolor);
  background-color: rgba(85, 85, 95, 0.3);
}

body.dark-mode button.material-black:hover {
  box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.5);
}

/* For all mobile users only */
@media only screen and (max-width: 799px) {
  .hide-on-mobile {
    display: none !important;
  }
}

/* For desktop users */
@media only screen and (min-width: 800px) {
  .show-on-mobile {
    display: none !important;
  }

  form.search-form {
    margin: 0 2rem;
    min-width: 27rem;
  }

  form.search-form input:focus {
    background-color: #ffffff;
    min-width: 30rem;
    width: 30vw;
    color: #333;
  }
}
