body{
  background-color: var(--page-bg-color);
}

img.user-profile-picture{
  border-radius: 50%;
}

form.search-form{
  border: 1px solid #646464;
  background-color: transparent;
  border-radius: 4px;
  width: auto;
  overflow: hidden;
}

form.search-form *{
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

form.search-form label{
  border: 1px solid #646464;
  padding: 0.2rem;
  min-width: 2rem;
  min-height: 2rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
  margin: auto 0.5rem;
}

form.search-form input{
  padding: 0.6rem 1rem;
  width: 100%;
  transition: all 0.3s ease;
}

form.search-form input:focus + label{
  display: none;
}

/* For all mobile users only */
@media only screen and (max-width:799px){
  .hide-on-mobile{
    display: none !important;
  }
}

/* For desktop users */
@media only screen and (min-width:800px){
  .show-on-mobile{
    display: none !important;
  }

  form.search-form{
    margin: 0 2rem;
    min-width: 27rem;
  }

  form.search-form input:focus{
    background-color: #ffffff;
    min-width: 30rem;
    width: 30vw;
    color: #333;
  }
}