*{
  font-family: Poppins, 'Open Sans', -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  box-sizing: border-box; 
}

html{
  font-size: 62.5%;
}

body{
  position: relative;
  --pointer-color: red;
  --page-bg-color: #fff;
  --page-link-color:#0059fd;
  --header-bg-color: #24292e;
  --header-text-color: white;
  --icon-color: #555;
  --text-color: #222;
  --light-text-color: #222;
  --lazy-light-color: #dfdfdf;
  --lazy-dark-color: #d9d9d9;
  --border-line-color: #dfdfdf;
  --separation-line-color: #dfdfdf;
  --tab-notice-bgcolor: #ccc;
  --tab-border-color: #ff5e00;
  --tab-notice-textcolor: #222;
  --footer-bg-color: #eee;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s ease;
}

body::after{
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  clip-path: circle(15% at 0% 11%);
  background-image: linear-gradient(125deg, rgba(255, 209, 123, 0.87), rgb(255, 91, 132) 50%);
}

body.dark-mode::after{
  background-image: none
}

body.dark-mode{
  --page-bg-color:#070913;
  --page-link-color: #ff5b84;
  --header-bg-color: #24292e;
  --header-text-color: white;
  --icon-color: #7a7a7a;
  --text-color: #dfdfdf;
  --light-text-color: #bdbdbd;
  --lazy-light-color: rgba(223, 223, 223, 0.8);
  --lazy-dark-color: #d9d9d9;
  --border-line-color: #4d4d4d;
  --separation-line-color: #383838;
  --tab-notice-bgcolor: var(--page-link-color);
  --tab-border-color: var(--page-link-color);
  --tab-notice-textcolor: black;
  --footer-bg-color: #eee;
  padding: 0;
  margin: 0;
}

noscript{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem;
  background-color: #fabc49;
}

a:link{
  text-decoration: none;
}

header{
  width: 100%;
}

button:hover, a:link:hover{
  cursor: pointer;
}

input[type="submit"], select{
  -webkit-appearance: none;
  appearance: none;
}

.link-btn{
  text-decoration: none;
  padding: 1rem;
}

.strip-btn{
  border: none;
  background-color: transparent;
  color: black;
  padding: 1rem;
}

.none{
  display: none !important;
}

.grid{
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
}

.rows{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rows-reverse{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display:flex;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}


.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}

.lg-5{
  width: 5%;
}

.lg-10{
  width: 10%;
}

.lg-15{
  width: 15%;
}

.lg-20{
  width: 20%;
}

.lg-25{
  width: 25%;
}

.lg-30{
  width: 30%;
}

.lg-35{
  width: 35%;
}

.lg-40{
  width: 40%;
}

.lg-50{
  width: 50%;
}

.lg-60{
  width: 60%;
}

.lg-65{
  width: 60%;
}

.lg-70{
  width: 60%;
}

.lg-75{
  width: 60%;
}

.lg-80{
  width: 80%;
}

.lg-90{
  width: 90%;
}

.lg-100{
  width: 100%;
}

.lazy-loading{
  background-color: transparent;
  animation: lazy-loading 1.2s ease-in-out 0s infinite normal forwards;
}

.strip-link{
  text-decoration: none;
}

@media only screen and (max-width:800px){
  body::after{
    background-image: none
  }
}

@-webkit-keyframes lazy-loading{
  0%, 60%, 70%, 80%, 90%, 100%{
      background-image: -webkit-linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
      background-image: linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
  }

  15%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
  }

  30%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
  }

  55%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
  }
}

@-moz-keyframes lazy-loading{
  0%, 60%, 70%, 80%, 90%, 100%{
      background-image: -webkit-linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
      background-image: linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
  }

  15%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
  }

  30%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
  }

  55%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
  }
}

@keyframes lazy-loading{
  0%, 60%, 70%, 80%, 90%, 100%{
      background-image: -webkit-linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
      background-image: linear-gradient(var(--lazy-dark-color), var(--lazy-dark-color));
  }

  15%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 10%,  var(--lazy-light-color) 25%, var(--lazy-dark-color) 40%);
  }

  30%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 35%,  var(--lazy-light-color) 50%, var(--lazy-dark-color) 65%);
  }

  55%{
      background-image: -webkit-linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
      background-image: linear-gradient(135deg, var(--lazy-dark-color) 60%,  var(--lazy-light-color) 75%, var(--lazy-dark-color) 90%);
  }
}
