@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: Poppins, "Open Sans", "Segoe UI", Roboto, Oxygen,
    "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: disc;
  padding: initial;
  padding-left: 1.8rem;
  margin: initial;
}

ol li,
ul li {
  margin-top: 0.5rem;
}

ol li::marker,
ul li::marker {
  color: var(--tab-notice-bgcolor);
}

noscript {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem;
  background-color: #fabc49;
}

button:hover,
a:link:hover {
  cursor: pointer;
}

input[type="submit"],
select {
  -webkit-appearance: none;
  appearance: none;
}

.window-header {
  color: #86d1ff;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.08) 15%,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.08) 85%
  );
}

.lazy-loading {
  background-color: transparent;
  animation: lazy-loading 1.2s ease-in-out 0s infinite normal forwards;
}

@media only screen and (max-width: 800px) {
  body::after,
  body.dark-mode::after {
    background-image: none;
  }
}

@-webkit-keyframes lazy-loading {
  0%,
  60%,
  70%,
  80%,
  90%,
  100% {
    background-image: -webkit-linear-gradient(
      var(--lazy-dark-color),
      var(--lazy-dark-color)
    );
    background-image: linear-gradient(
      var(--lazy-dark-color),
      var(--lazy-dark-color)
    );
  }

  15% {
    background-image: -webkit-linear-gradient(
      135deg,
      var(--lazy-dark-color) 10%,
      var(--lazy-light-color) 25%,
      var(--lazy-dark-color) 40%
    );
    background-image: linear-gradient(
      135deg,
      var(--lazy-dark-color) 10%,
      var(--lazy-light-color) 25%,
      var(--lazy-dark-color) 40%
    );
  }

  30% {
    background-image: -webkit-linear-gradient(
      135deg,
      var(--lazy-dark-color) 35%,
      var(--lazy-light-color) 50%,
      var(--lazy-dark-color) 65%
    );
    background-image: linear-gradient(
      135deg,
      var(--lazy-dark-color) 35%,
      var(--lazy-light-color) 50%,
      var(--lazy-dark-color) 65%
    );
  }

  55% {
    background-image: -webkit-linear-gradient(
      135deg,
      var(--lazy-dark-color) 60%,
      var(--lazy-light-color) 75%,
      var(--lazy-dark-color) 90%
    );
    background-image: linear-gradient(
      135deg,
      var(--lazy-dark-color) 60%,
      var(--lazy-light-color) 75%,
      var(--lazy-dark-color) 90%
    );
  }
}

@-moz-keyframes lazy-loading {
  0%,
  60%,
  70%,
  80%,
  90%,
  100% {
    background-image: -webkit-linear-gradient(
      var(--lazy-dark-color),
      var(--lazy-dark-color)
    );
    background-image: linear-gradient(
      var(--lazy-dark-color),
      var(--lazy-dark-color)
    );
  }

  15% {
    background-image: -webkit-linear-gradient(
      135deg,
      var(--lazy-dark-color) 10%,
      var(--lazy-light-color) 25%,
      var(--lazy-dark-color) 40%
    );
    background-image: linear-gradient(
      135deg,
      var(--lazy-dark-color) 10%,
      var(--lazy-light-color) 25%,
      var(--lazy-dark-color) 40%
    );
  }

  30% {
    background-image: -webkit-linear-gradient(
      135deg,
      var(--lazy-dark-color) 35%,
      var(--lazy-light-color) 50%,
      var(--lazy-dark-color) 65%
    );
    background-image: linear-gradient(
      135deg,
      var(--lazy-dark-color) 35%,
      var(--lazy-light-color) 50%,
      var(--lazy-dark-color) 65%
    );
  }

  55% {
    background-image: -webkit-linear-gradient(
      135deg,
      var(--lazy-dark-color) 60%,
      var(--lazy-light-color) 75%,
      var(--lazy-dark-color) 90%
    );
    background-image: linear-gradient(
      135deg,
      var(--lazy-dark-color) 60%,
      var(--lazy-light-color) 75%,
      var(--lazy-dark-color) 90%
    );
  }
}

@keyframes lazy-loading {
  0%,
  60%,
  70%,
  80%,
  90%,
  100% {
    background-image: -webkit-linear-gradient(
      var(--lazy-dark-color),
      var(--lazy-dark-color)
    );
    background-image: linear-gradient(
      var(--lazy-dark-color),
      var(--lazy-dark-color)
    );
  }

  15% {
    background-image: -webkit-linear-gradient(
      135deg,
      var(--lazy-dark-color) 10%,
      var(--lazy-light-color) 25%,
      var(--lazy-dark-color) 40%
    );
    background-image: linear-gradient(
      135deg,
      var(--lazy-dark-color) 10%,
      var(--lazy-light-color) 25%,
      var(--lazy-dark-color) 40%
    );
  }

  30% {
    background-image: -webkit-linear-gradient(
      135deg,
      var(--lazy-dark-color) 35%,
      var(--lazy-light-color) 50%,
      var(--lazy-dark-color) 65%
    );
    background-image: linear-gradient(
      135deg,
      var(--lazy-dark-color) 35%,
      var(--lazy-light-color) 50%,
      var(--lazy-dark-color) 65%
    );
  }

  55% {
    background-image: -webkit-linear-gradient(
      135deg,
      var(--lazy-dark-color) 60%,
      var(--lazy-light-color) 75%,
      var(--lazy-dark-color) 90%
    );
    background-image: linear-gradient(
      135deg,
      var(--lazy-dark-color) 60%,
      var(--lazy-light-color) 75%,
      var(--lazy-dark-color) 90%
    );
  }
}

@-webkit-keyframes swelling {
  0%,
  100% {
    clip-path: circle(12% at 0% 11%);
    opacity: 0.9;
  }

  60% {
    clip-path: circle(18% at 0% 15%);
    opacity: 0.4;
  }
}

@-moz-keyframes swelling {
  0%,
  100% {
    clip-path: circle(12% at 0% 11%);
    opacity: 0.9;
  }

  60% {
    clip-path: circle(18% at 0% 15%);
    opacity: 0.4;
  }
}

@keyframes swelling {
  0%,
  100% {
    clip-path: circle(12% at 0% 11%);
    opacity: 0.7;
    top: 100px;
    left: 0px;
  }

  60% {
    clip-path: circle(18% at 0% 15%);
    opacity: 0.4;
    top: 500px;
    left: -100px;
  }
}

@keyframes rising {
  0% {
    top: 500px;
    left: -100px;
  }

  100% {
    top: 50px;
    left: 0;
  }
}
